{% extends 'base.html' %}
{% block content %}

      <div class="ui cards" style="position: absolute;left: 40%; box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);">
      <div class="card">
        <div class="content">
          <img class="ui small circular image" src="{{ image_file }}">
          <br>
          <p>{{ current_user.followers.count() }} followers, {{ current_user.followed.count() }} following.</p>
        </div>
        
      
   <h2 style="color: darkgreen; text-align: center;">Account Info</h2>
    
        <form method="POST" action="" class="ui form" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            
            <fieldset>
                
                <div class="field">
                    {{ form.username.label }}
                    {{ form.username }}
                    {% if form.username.errors %}
                   
                    <ul class="errors">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}

                    </ul>
                  
                   
                   
                    {% endif %}

     
                </div>
                <div class="field">
                    {{ form.email.label }}
                    {{ form.email }}
                    {% if form.email.errors %}
                   
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}

                    </ul>
                   
                   
                 
                   
                    {% endif %}
                       
                  
                </div>
                <div class="field">
                    {{ form.pics.label }}
                    {{ form.pics }}
                    {% if form.pics.errors %}
                    {% for error in form.pics.errors %}
                    <li>{{ error }}</li><br>
                    {% endfor %}
                    {% endif %}

                    </div>

                <div >
                  
                <button class="ui positive basic button" type="submit">{{ form.submit }}</button>
                </div>
                </fieldset>
              </form>
    
{% endblock %}