{% extends 'base.html' %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" class="ui form">
        {{ form.hidden_tag() }}
        
        <fieldset>
            <legend>Create Your Post</legend>
            
            <div class="field">
                {{ form.title.label }}
                {% if form.title.errors %}
               
                <ul class="errors">
                    {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}

                </ul>
                {% else %}
               
                {{ form.title }}
               
                {% endif %}
                   
              
            </div>
            <div class="field">
               
                    {{ form.content.label }}
                    {% if form.content.errors %}
               
                    <ul class="errors">
                        {% for error in form.content.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}

                    </ul>
                    {% else %}
                    {{ form.content }}
                   
                    
                   
                    {% endif %}
                    
              
            </div>
              
        <div >
          
      
            <button class="ui positive basic button" type="submit">{{ form.submit }}</button>
        </div>
{% endblock %}