{% extends 'base.html' %}
{% block content %}

<div class="ui feed">
    <div class="event">
      <div class="label">
        <img class="ui small circular image" src="{{ url_for('static', filename = 'profile/' + post.author.image_file) }}">
      </div>
      <div class="content">
        <div class="summary">
          <a class="user" style="color: darkblue;" href="{{ url_for('user_posts_info',username = post.author.username ) }}">
            {{ post.author.username }}
          </a> 
          <div class="date">
            <small style="color: black;">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          </div>
          {% if post.author == current_user %}
          <div>
              
              <a class="ui positive basic button" href="{{ url_for('post_update',post_id = post.id) }}">Update</a>
              <button class="ui negative basic button" href="#" onclick="return renderModal()">Delete</button>
  
            </div>
          {% endif %}
        </div>
        <div class="extra text">
          <h3><a  href="{{ url_for('post', post_id = post.id) }}" style="color: darkred;">{{ post.title }}</a></h3>
          <p style="font-style: italic;">{{ post.content }}</p>
        </div>
      </div>
      <div class="ui basic modal" >
        <div class="ui icon header">
          <i class="archive icon"></i>
          Delete Your Post
        </div>
        <div class="content">
          <p>
           Are you sure yiu want to delete your Post?
          </p>
        </div>
        <div class="actions">
      
          <form action="{{ url_for('post_delete', post_id = post.id) }}" method="POST">
            <div class="ui red basic cancel inverted button">
              <i class="remove icon"></i>
              No
            </div>
            <div>
              <i class="checkmark icon"></i>
              <input class="ui green ok inverted button" type="submit" value="Delete">
              
            </div>
         
          </form>
        </div>
      </div>
     
    
    
{% endblock %}