
    {% extends 'base.html' %}
    {% block content %}
    <h1 style="color: darkgreen; text-align: center; ">Join Now!!</h1>
        <div class="content-section">
            <form method="POST" action="" class="ui form">
                {{ form.hidden_tag() }}
                
                <fieldset style="width: 30%; position: inherit; left: 35%; box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);">
                  <img src="{{url_for('static', filename='/images/login.svg')}}" style="height: 48%;
                  width: 25%;
                  position: absolute;
                  left: 64%;
                  top: 56%;" />
                    
                    <div class="field">
                        {{ form.email.label }}
                        {{ form.email }}
                        {% if form.email.errors %}
                       
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}

                        </ul>
                        {% else %}
                       
                       
                       
                        {% endif %}
                           
                      
                    </div>
                    <div class="field">
                       
                            {{ form.password.label }}
                            {% if form.password.errors %}
                       
                            <ul class="errors">
                                {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
    
                            </ul>
                            {% else %}
                            {{ form.password }}
                           
                            
                           
                            {% endif %}
                            
                      
                    </div>





        
        <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Remember me</label>
            </div>
          </div>
        
        <div >
          
      
          <button class="ui red mini button" type="submit">{{ form.submit }}</button>
      </div>
      <div class="field ml-">
        <small>
          <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
        </small>
        </div>
      </fieldset>
      
        </form>
        <div class="field" style="text-align: center;">
          <small>
            Need an Account? <a class="ml-2" href="{{ url_for('users.register')
            }}">Sign Up Now</a>
          </small>
        </div>
       
           
          
               
    
{% endblock %}