{% extends "base.html"%}
{% block content %}
<h1 style="color: rgb(99, 218, 99); text-align: center; ">Comment!!</h1>
<div >
        <form method="POST" class = "ui form" action="{{url_for('comments.post_comment', post_id=post_id)}}">
            {{ form.hidden_tag() }}
            <fieldset style="width: 30%; position: inherit; left: 35%;box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);">
                <img src="{{url_for('static', filename='/images/cmnt.svg')}}" style="height: 46%;
                width: 25%;
                position: absolute;
                left: 66%;
                top: 67%;" />
                <div class="field">
                    {{ form.commented_user.label }}
                    {{ form.commented_user }}
                    {% if form.commented_user.errors %}
                   
                    <ul class="errors">
                        {% for error in form.commented_user.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}

                    </ul>
                    {% else %}
                   
                   
                   
                    {% endif %}
                       
                  
                </div>
               
                <div class="field">
                    {{ form.body.label }}
                    {{ form.body }}
                    {% if form.body.errors %}
                   
                    <ul class="errors">
                        {% for error in form.body.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}

                    </ul>
                    {% else %}
                   
                   
                   
                    {% endif %}
                       
                  
                </div>
          
            <div class="ui mini light yellow button">
                {{ form.submit}}
            </div>
        </fieldset>
        </form>
    </div>
{% endblock content %}