{% extends 'base.html' %}

{% block content %}
<ul>
<h3 style="color: coral;">{{ posts.total }} - posts by  {{ user.username }}</h3>

{% if current_user.username == user.username %}
<small><b>Last seen : active now</b></small>
{% else %}
<small><b>Last seen : {{ moment(user.last_seen).fromNow() }}</b></small>
{% endif %}

<p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
  {% if user == current_user %}

  <p><a href="{{ url_for('users.account') }}">Edit your profile</a></p>

  {% elif not current_user.is_following(user) %}
  <p>
  <a href="{{ url_for('users.follow', username = user.username) }}">Follow</a>
  </p> 
 {% else %}
 <p>
  <a href="{{ url_for('users.unfollow', username = user.username) }}">Unfollow</a>
  </p> 
   {% endif %}
</ul>
    {% for post in posts.items %}
    <ul style="border: 2px rgb(255, 255, 255);">
     
    <div class="ui feed">
    <div class="event">
      
        <div class="label">
          <img class="ui small circular image" src="{{ url_for('static', filename = 'profile/' + post.author.image_file) }}">
        </div>
     
        <div class="content">
          <div class="summary">
          
          </div>
          <div class="extra text">
            <h4><a  href="{{ url_for('posts.post', post_id = post.id) }}" style="color: rgb(138, 11, 36);">{{ post.title }}</a></h4>
            <!-- <p style="font-style: italic;">{{ post.content }}</p> -->
          
      </ul>
          
    {% endfor %}
{% for page_num in posts.iter_pages(left_edge =1, right_edge=1, left_current =1,right_current =2) %}
{% if page_num %}
{% if posts.page == page_num %}

<a href="{{ url_for('users.user_posts_info', username = user.username, page = page_num) }}"><button class="ui blue basic button">
  {{ page_num }}
</button>
</a>
{% else %}
<a href="{{ url_for('users.user_posts_info', username = user.username, page = page_num) }}"><button class="ui green basic button">
  {{ page_num }}
</button>
</a>
{% endif %}
{% else %}
    ...
{% endif %}


{% endfor %}
 

{% endblock %}


